.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings Button {
    margin-top: 24px;
}