.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.change-email {
    margin-top: 8px;
}

.change-email Button {
    margin-left: 8px;
}

