body {
    background-color: var(--blue);
    /*border: white 2px solid;*/
}



.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-questions-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 160px 0 160px;
}

.faq-question {
    background-color: var(--white);
    font-family: Digital, sans-serif;
    font-size: 1rem;
    margin: 16px;
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
}

.faq-question:hover {
    background-color: var(--blue);
    color: var(--white);
}