.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px dashed yellow;*/
}

.game-picture {
    max-height: 360px;
    max-width: 480px;
    border: 5px solid black;/* this border is needed*/
}

.game-condition-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 5px solid green;*/
}

.game-condition-container label {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
}


.game-condition-and-image-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 720px;
    /*border: 2px solid red;*/
}

.game-picture-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*border: 2px solid yellow;*/
}

.game-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    margin: 20px 0;
    /*border: 2px solid blue;*/
}
.edit-game-button {
    margin-top: 24px;
}

