body {
    background-color: var(--blue);
}

.body-container {
    display: flex;
    justify-content: center;
    /*border: 3px solid yellow;*/
}

.inner-body-container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /*border: 2px dashed red;*/

}
.welcome-text {
    max-width: 360px;
    width: 100%;
    min-width: 180px;
    min-height: 180px;
    background-color: var(--white);
    margin: 40px 0 40px 0;
    padding: 20px;
    color: var(--black);
    border-radius: 10px;
}


.counters-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 -16px;
    /*border: 3px dashed yellow;*/
}

.counter {
    background-color: var(--white);
    font-family: Digital, sans-serif;
    font-size: 2rem;
    margin: 16px;
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
}

.counter-label {
    display: flex;
    font-size: 1.5rem;
}

.game-room {
    display: flex;
    max-width: 600px;
    margin: auto auto;
    /*border: 3px dashed red;*/
}

.game-room img {
    max-width: 100%;
    border-radius: 10px;
}

.total-games, .total-systems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: var(--white);
    /*border: 3px dashed greenyellow;*/
    }

