.my-games {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.game-name:hover {
    text-decoration: underline;
}

.my-games-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
}

.my-games-page-number {
    margin: 12px;
    font-size: 24px;
}