.my-systems {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.system-name {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

}

.system-name:hover {
    text-decoration: underline;
}

.my-systems-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.my-systems-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
}

.my-systems-page-number {
    margin: 12px;
    font-size: 24px;
}