.password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.change-password {
    margin-left: -8px;
    margin-top: 8px;
}