.privacy-policy-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.privacy-policy-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 12px;
}

li {
    margin: 12px;
}