.outer-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 2px dashed red;*/
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border: 2px dashed yellow;*/
}

.profile-inner-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  padding: 24px;
  /*border: 2px solid white;*/
}

.profile-inner-left-container img {
  object-fit: contain;
  min-width: 260px;
  max-width: 260px;
  min-height: 260px;
  max-height: 260px;
  border-radius: 10px;
  margin-bottom: 24px;
  /*border: 2px solid white; !*This border is needed*!*/
}

.profile-inner-right-container {
  flex-basis: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  padding: 24px;
  /*border: 2px solid red;*/
}

.profile-inner-right-container img {
  object-fit: contain;
  min-width: 450px;
  max-width: 450px;
  max-height: 260px;
  min-height: 260px;
  border-radius: 10px;
  margin-bottom: 24px;
  /*border: 2px solid white; */
}

.profile-label {
  display: flex;
  font-size: 1.5rem;
}

.buttons-container-profile-a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  /*border: 3px solid green;*/
}

.buttons-container-profile-b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12px;
  /*border: 2px dashed blue;*/
}

.buttons-container-profile-b Button {
  margin: 4px;
}

.counters-container-profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  /*border: 3px dashed yellow;*/

}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 3px dashed yellow;*/
  margin-bottom: 24px;
}

.outer-profile-container h1 {
  font-size: 1rem;
  color: var(--black);
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-inner-left-container input {
  width: 80%;
  padding: 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 2px solid var(--white);
  border-radius: 4px;
}

.profile-inner-right-container input {
  width: 50%;
  padding: 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 2px solid var(--white);
  border-radius: 4px;
}