.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.signup-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0 0 0;
}

.signup-label {
  margin: 10px 0 0 0;
  color: var(--white);
}
.signup-form Button {
  margin: 16px 8px;
}

.message {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 1.5rem;
  margin: 16px 0 16px 0;
}

