.users {
    display: flex;
    flex-direction: column;
    align-items: center;

    /*border: 2px solid var(--white);*/
}

.users td {
    padding: 12px;
    border: 2px solid var(--white);
    font-size: 12px;
}

.users-list-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    /*border: 2px solid var(--red);*/
}

.users-list-page-number {
    margin: 12px;
    font-size: 24px;
}

.delete-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    /*border: 2px solid var(--red);*/
}

.error {
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

tbody Button {

    width: 128px;
    height: 44px;
    margin: -6px 0 -6px 0;
}