.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
}

.users-list-page-number {
    margin: 12px;
    font-size: 24px;
}

.delete-message {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.error {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}