footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    background-color: #7A0004;
}

footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 4px 24px;
    cursor: pointer;
    border-radius: 4px;

}

footer button:hover {
    background-color: var(--green);
}

.footer-nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
    border-radius: 100px;
    height: 50px;
}

.footer-nav-links {
    color: var(--white);
    text-decoration: none;
    margin: 0 40px;
    font-size: 1.2rem;
}

li {
    list-style: none;
}

.inner-footer-container {
    flex-basis: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: var(--red);
}

