footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    background-color: #7A0004;
    /*border: 3px solid yellow;*/
}

.inner-footer-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    background-color: var(--red);
    /*border: 3px solid blue;*/
}

footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 4px 24px;
    cursor: pointer;
    border-radius: 4px;
}

footer button:hover {
    background-color: var(--green);
}




