header {
    display: flex;
    justify-content: center;
    background-color: #7A0004;
    /*border: 2px solid yellow;*/
}


.inner-header-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150px;
    background-color: var(--red);
    /*border: 2px solid blue;*/
}

.inner-header-container img {
    height: 120px;
    width: 120px;
    margin: 20px 24px;
    border-radius: 10%;
    /*border: 2px solid blue;*/
}
