nav {
    display: flex;
    background-color: #7A0004;
    padding: 32px 32px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
}

img {
    width: 150px;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #003880;
    height: 50px;
    width: 50%;
    border-radius: 25%;
    margin-right: auto;
    margin-left: auto;
}

.link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    color: white;
}




.dev {
    border: 5px solid yellow;
}