.navigation-links{
    color: var(--white);
    text-decoration: none;
}

.navigation-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.navigation-bar ul li {
    margin: 0 20px;
    list-style:  none;
}