.switch-label {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 36px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red);
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid var(--white);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  right: 4px;
  top: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  transform: translateX(32px);
}

.slider.round:before {
  border-radius: 50%;
}