h1 {
    display: flex;
    justify-content: center;
    font-family: Digital, sans-serif;
    font-size: 2.5rem;
    margin: 40px 0;
    padding: 12px;
    border-radius: 10px;
    width: 720px;
    color: var(--black);
    background-color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

label {
    font-family: Digital, sans-serif;
    font-size: 1.2rem;
    color: var(--white);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    color: white;
    overflow-wrap: break-word;
    font-size: 12px;
}