@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;600&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;600&family=Press+Start+2P&display=swap');

/*CSS reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    /*Colour variables*/
    --red: #7A0004;
    --blue: #007bff;
    --white: #fff;
    --black: #000;
    --green: #0b903f;
    --light-green: #33FF33;

    font-family: 'Press Start 2P', 'Inter', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

